[Unit]
Description=Run tasks when bootc image digest changes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash --noprofile -c "/etc/bottomtext/bin/check-bootc-digest.sh"

[Install]
WantedBy=multi-user.target